html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

.mouse {
  display: none;
}

.headstyle {
  font-family: "Playfair Display", serif;
}

.section1 {
  min-height: 100vh;
}

section h2 {
  font-size: 75px;
  font-family: "Playfair Display", serif;
}

.header {
  /* min-height: 10vh; */
  background-color: #5e604b;
  position: fixed;
  top: 0px;
  z-index: 2;
  left: 0px;
  right: 0px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.allicons {
  border-radius: 50%;
  border: 2px solid #fff;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons {
  margin-top: 15px;
  margin-right: 15px;
  display: flex;
  gap: 10px;
  padding-bottom: 15px;
}

.fullicons {
  color: #fff;
  font-size: 23px;
}

.logo {
  margin-left: 35px;
}

.logo a {
  color: #f0ede6;
  font-size: 40px;
}

.block1 {
  display: flex;
  min-height: 100vh;
  overflow: hidden;
}

.block1image {
  width: 50%;
  position: relative;
}

.bcimage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text_block {
  width: 50%;
  background-color: #f0ede6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px;
}

.title-text {
  font-size: 75px;
  width: 100%;
  text-align: left;
  color: #5e604b;
  margin-bottom: 25px;
}

.text p {
  margin-top: 20px;
  font-size: 24px;
}

.button {
  text-align: right;
  padding-top: 20px;
}

.text p a {
  color: #5e604b;
  font-weight: 600;
}

.indent {
  margin-left: 40px;
  display: block;
  line-height: 80%;
}

.flower {
  position: absolute;
  width: 200px;
  bottom: 0px;
  right: -104px;
  filter: brightness(0.6);
  animation: flower-animation 1.5s 1s ease-out both;
}
@keyframes flower-animation {
  0% {
    transform: translateY(-500%);
  }
  70% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY(0%);
  }
}

.hamburger-lines {
  height: 26px;
  width: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #fff;
}

.hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.hamburger-open.hamburger-lines .line1 {
  transform: rotate(45deg);
}

.hamburger-open.hamburger-lines .line2 {
  transform: scaleY(0);
}

.hamburger-open.hamburger-lines .line3 {
  transform: rotate(-45deg);
}
.menu-open.mobile-menu {
  transform: translateX(0);
}
.menu-items {
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow-y: auto;
}

.mobile-menu {
  position: fixed;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  height: 100vh;
  width: 100%;
  transform: translate(150%);
  transition: transform 0.3s ease-in-out;
  top: 86px;
  bottom: 0;
  z-index: 3;
  background-image: url(../images/bcburger2.png);
  background-position: center center;
  background-repeat: no-repeat;
}
.menu-items a {
  font-size: 35px;
  font-weight: 600;
  color: #fff;
  padding: 20px 0px 25px;
}
.menu-home {
  margin-top: 20px;
}

@media (max-width: 1060px) {
  .title-text {
    font-size: 60px;
  }
}

@media (max-width: 915px) {
  .block1 {
    flex-direction: column;
  }

  .block1image,
  .text_block {
    width: 100%;
  }

  .flower {
    bottom: -90px;
    right: 0px;
  }
}

@media (max-width: 500px) {
  .text_block {
    padding: 40px 30px;
  }
}

@media (max-width: 400px) {
  .flower {
    width: 150px;
    bottom: -70px;
  }

  .title-text {
    font-size: 48px;
  }

  .indent {
    margin-left: 20px;
  }
}

.section2 {
  background-color: #dbd2c3;
}

.headtext2 {
  color: #5e604b;
  margin-left: 35px;
  padding-top: 25px;
}

.blocklist {
  display: flex;
  gap: 50px;
  justify-content: center;
  margin: 20px 35px 0px;
  padding-bottom: 30px;
}

.imagelist {
  width: 33vw;
}

.imagelist img {
  object-fit: cover;
  height: 40vh;
  width: 100%;
}

.imagelist div p {
  text-align: right;
}

.textlist {
  line-height: 150%;
  margin-top: 15px;
}

@media (max-width: 800px) {
  .blocklist {
    flex-direction: column;
    align-items: center;
  }

  .imagelist {
    width: 80vw;
  }
}

@media (max-width: 615px) {
  .headtext2 {
    font-size: 60px;
  }
}

@media (max-width: 500px) {
  .headtext2 {
    text-align: center;
    margin-right: 35px;
  }
}

@media (max-width: 450px) {
  .headtext2 {
    margin: 0px;
  }
}

.section3 {
  background-color: #b6a385;
}

.block3 {
  display: flex;
  height: 80vh;
  align-items: center;
}

.section3text {
  width: 50%;
  padding: 0px 50px 25px 75px;
}

.block3text {
  color: #ebebeb;
}

.block3text p {
  margin-top: 20px;
  font-size: 24px;
}

.section3image {
  width: 50%;
  height: 100%;
}

.section3image img {
  width: 100%;
  padding: 100px 25px;
  height: 100%;
  object-fit: cover;
}

.headtext3 {
  color: #fff;
  margin-bottom: 40px;
}

.block3text p a {
  color: #fff;
}

@media (max-width: 1000px) {
  .headtext3 {
    font-size: 60px;
  }
}

@media (max-width: 915px) {
  .block3 {
    flex-direction: column-reverse;
    height: auto;
  }

  .section3image {
    width: auto;
  }

  .section3image img {
    padding: 75px 35px 40px;
  }

  .section3text {
    width: 80%;
    padding: 0px 0px 35px;
  }
}

@media (max-width: 420px) {
  .section3image img {
    padding: 50px 15px 15px;
  }

  .headtext3 {
    font-size: 45px;
  }
}

.insta {
  padding: 50px 75px;
  background-color: #dbd2c3;
}

.insta_container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.insta_images {
  max-width: 60%;
}

.insta_images img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1400px) {
  .insta_container h2 {
    font-size: 65px;
  }

  .insta {
    padding: 50px 30px;
  }
}

@media (max-width: 1160px) {
  .insta_container h2 {
    font-size: 55px;
  }
}

@media (max-width: 1010px) {
  .insta_container {
    flex-direction: column;
    gap: 35px;
  }

  .insta_images {
    max-width: 100%;
  }

  .insta {
    padding: 20px 75px 50px;
  }
}

@media (max-width: 915px) {
  .insta {
    padding: 40px 50px 70px;
  }

  .buttonup {
    opacity: 0.7;
  }
}

@media (max-width: 600px) {
  .insta {
    padding: 40px 25px 70px;
  }
}

@media (max-width: 420px) {
  .insta {
    padding: 30px 15px 60px;
  }

  .insta_container h2 {
    font-size: 45px;
  }
}

.buttonup {
  font-size: 45px;
  position: fixed;
  z-index: 2;
  right: 35px;
  bottom: 20px;
  cursor: pointer;
  background-color: #5e604b;
  color: #fff;
  padding: 3px 6px;
}

@media (max-width: 800px) {
  .buttonup {
    font-size: 35px;
    right: 25px;
  }
}

@media (max-width: 450px) {
  .buttonup {
    font-size: 28px;
    right: 20px;
    bottom: 15px;
  }
}

@media (max-width: 915px) {
  .allicons {
    display: none;
  }

  .mouse {
    display: inline;
    padding: 15px;
  }
}
.menu-items a i {
  font-size: 40px;
  padding: 0px 10px;
}
@media (max-height: 750px) {
  .menu-items a {
    padding: 10px 0px 15px;
  }
}

.title-second {
  animation: outer-left 1s 1s cubic-bezier(0.5, 0, 0.1, 1) both;
}

.title-text {
  animation: outer-left 1s 1s ease both;
}
@keyframes outer-left {
  from {
    transform: translateX(20%);
  }
  to {
    transform: none;
  }
}

.text p {
  animation: text-left 1s 2.5s ease both;
}
.text p:first-of-type {
  animation: text-left 1s 2s ease both;
}
.text p:last-of-type {
  animation: text-left 1s 3s ease both;
}
@keyframes text-left {
  from {
    transform: translateX(50%);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.text .shop {
  animation: btn-right 1s 3.5s ease both;
}
@keyframes btn-right {
  from {
    transform: translateX(-50%);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.main-image {
  animation: image-in 1s cubic-bezier(0.5, 0, 0.1, 1) 0s backwards;
}
@keyframes image-in {
  from {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
@media (orientation: landscape) {
  .menu-items a {
    padding: 10px 0px;
    font-size: 26px;
  }
  .menu-home {
    margin-top: 10px;
  }
}
